button#createPersonaBtn {
    display: flex;
    align-items: center;
    padding:0.5rem 1rem;
    position:fixed;
    bottom: 4.5rem;
    right:1rem;
    box-sizing: border-box;
    border-radius: 10rem;
    z-index: 999;
    background: linear-gradient(-45deg,#1e1e2f,#5643fa,#00c3ff,#ec38bc);
    background-size: 600% 600%;
    animation: gradientFlow 5s ease infinite;
    font-weight: 400;
    box-sizing: border-box;
    img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}