.personaElement{
    background-color: #211F21;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    .personaHeader{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        .author{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }
    }
}