.blame{
    width: 100%;
    margin-bottom: 0.3rem;
    background-color: white;
}
.author{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    color: rgb(59, 59, 59);
    img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    .author_desc{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.text{
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    white-space: pre-line;
}
.footer{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    .comment{
        display:flex;
        img{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }
    }
    .share{
        img{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }
    }
}