
.judgmentSelection{
    border: #ccc 2px solid;
    border-radius: 5px;
    padding:0.3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
    input{
        font-size: 1.1rem;
        border: none;
        outline:none;
        width: 100%;

        box-sizing: border-box;
    }
    img{
        width: 2rem;
    }
    .deleteIcon{
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        display: flex;
        border-radius: 5px;
        padding: 0px 0.2rem;
        background-color: rgb(235, 43, 43);
        height: 1.9rem;
        img{
            width: 1.3rem;
        }
        .text{
            width: 2rem;
            font-size: 0.8rem;
            color: white;
        }
        box-shadow:  rgba(0, 0, 0, 0.151) 0px 1px 10px 0px;
    }
}