.userDetail{
    margin: 0.5rem;
    background-color: white;
    display: flex;
    padding: 0.5rem;
    border-radius: 5px;
    img{
        width:3rem;
        height:3rem;
        border-radius:50%;
    }
    img.more{
        position: absolute;
        right: 1rem;
    }
    .userDetailText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        .name{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}