@font-face {
  font-family: 'pretendard';
  src: url('public/font/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'pretendard';
}


:root {

}
body {
  color: black;
  margin: 0;
  background-color: #F1F3F2;
}