@font-face {
  font-family: 'pretendard';
  src: url('public/font/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'pretendard';
}


:root {

}

body {
  color:rgb(24, 24, 24);
  margin: 0;
  background-color: #EAEEF3;
}
a{
  text-decoration: none;
  color: inherit;
}