@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  font-family: "Noto Sans KR", sans-serif;
}


:root {

}

body {
  color:rgb(24, 24, 24);
  margin: 0;
  background-color: #EAEEF3;
}
a{
  text-decoration: none;
  color: inherit;
}